  
  
#menu-toggle {display: none;}
label {display: none;}


/*=======*/
  

@media screen and (max-width: 720px) {

/*=== Top Container ===*/
.top-container {
  padding: 0;
  display: block;
  overflow: hidden;
  position: relative;
}

.logo {
  width: ;
  float: left;
  padding: 3% 0 0 3%; 
}



/*=== Togle Menu ===*/

.menu {
  margin-top: 80px;
}

.menu label {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  display: inline-block;
  color: #fff;
}

.top-nav {
  max-height: 0;
  transition: max-height 2s;
  background-color: #000;
  text-align: center;
  display: block;
  margin-top: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

#menu ul a:hover {
	text-decoration: underline;
}

#menu li {
  border-bottom: 1px solid #fff;
  font-size: 1.5em;
  padding: 1em 0;
  line-height: 2;
  display: block;
}

#menu li:last-child {
	display: none;
}

#menu-toggle:checked ~ ul {
  display: block;
  opacity: 1;
  max-height: 500px;
}

.label-toggle {
  cursor: pointer;
  display: block;
}


/*=== Header-content-wrap ===*/


}